In [4]:
import os
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [23]:

main_folder = os.path.abspath(os.path.join(os.getcwd(), ".."))
visualizations_folder = os.path.join(main_folder, "visualizations")

def save_plot(filename, dpi=300):
    """
    Save the current matplotlib plot to the visualizations folder in the main project.
    """
    os.makedirs(visualizations_folder, exist_ok=True)  # in case folder is missing
    path = os.path.join(visualizations_folder, filename)
    plt.savefig(path, dpi=dpi, bbox_inches="tight")
    plt.close()
    print(f"Saved plot as {path}")

In [24]:
df = pd.read_csv("../data/processed/merged_pizza_sales.csv")
df["date"] = pd.to_datetime(df["date"])
df['time']=pd.to_datetime(df['time'],format="%H:%M:%S")
df['hour']=df['time'].dt.hour
df

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,date,time,name,category,ingredients,revenue,hour
0,1,1,hawaiian_m,1,hawaiian,M,13.25,2015-01-01,1900-01-01 11:38:36,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",13.25,11
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00,2015-01-01,1900-01-01 11:57:40,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",16.00,11
2,3,2,five_cheese_l,1,five_cheese,L,18.50,2015-01-01,1900-01-01 11:57:40,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",18.50,11
3,4,2,ital_supr_l,1,ital_supr,L,20.75,2015-01-01,1900-01-01 11:57:40,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",20.75,11
4,5,2,mexicana_m,1,mexicana,M,16.00,2015-01-01,1900-01-01 11:57:40,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",16.00,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,ckn_alfredo,M,16.75,2015-12-31,1900-01-01 21:23:10,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",16.75,21
48616,48617,21348,four_cheese_l,1,four_cheese,L,17.95,2015-12-31,1900-01-01 21:23:10,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",17.95,21
48617,48618,21348,napolitana_s,1,napolitana,S,12.00,2015-12-31,1900-01-01 21:23:10,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",12.00,21
48618,48619,21349,mexicana_l,1,mexicana,L,20.25,2015-12-31,1900-01-01 22:09:54,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",20.25,22
48619,48620,21350,bbq_ckn_s,1,bbq_ckn,S,12.75,2015-12-31,1900-01-01 23:02:05,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",12.75,23

# Monthly Revenue Trend

In [25]:
monthly_revenue = df.groupby(df['date'].dt.month)["revenue"].sum()

plt.figure(figsize=(8,5))
sns.lineplot(x=monthly_revenue.index,y=monthly_revenue.values,marker='o')
plt.title('Monthly revenue trend')
plt.xlabel('Month')
plt.ylabel('Revenue')
save_plot('monthly_revenue.png')

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\monthly_revenue.png

C:\ProgramData\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
C:\ProgramData\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [26]:
df["date"] = pd.to_datetime(df["date"])
monthly_revenue = df.groupby(df["date"].dt.month)["revenue"].sum()

# Cumulative sum
cumulative_revenue = monthly_revenue.cumsum()

# Plot
plt.figure(figsize=(8,5))
sns.lineplot(x=cumulative_revenue.index, y=cumulative_revenue.values, marker="o")
plt.title("Cumulative Revenue Growth (2015)")
plt.xlabel("Month")
plt.ylabel("Cumulative Revenue")
save_plot('cumulative_revenue.png')
plt.close()

C:\ProgramData\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
C:\ProgramData\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\cumulative_revenue.png

# Revenue by Category

In [27]:
category_revenue=df.groupby('category')['revenue'].sum()
plt.figure(figsize=(6,5))
sns.barplot(x=category_revenue.index,y=category_revenue.values)
plt.title('Revenue by Pizza Category')
plt.ylabel('Revenue')
save_plot('category_revenue.png')

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\category_revenue.png

# Top 10 Pizzas by Quantity

In [28]:
top_pizzas=df.groupby('name')['quantity'].sum().sort_values(ascending=False).head(10)
plt.figure(figsize=(6,4))
sns.barplot(x=top_pizzas.index,y=top_pizzas.values)
plt.title("Top 10 Pizzas by Quantity Sold")
save_plot('top_pizzas.png')

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\top_pizzas.png

# Pizza size VS Quantity of Pizza

In [29]:
pizza_size=df.groupby('size')['quantity'].sum()
plt.figure(figsize=(4,6))
sns.barplot(x=pizza_size.index,y=pizza_size.values)
plt.xlabel('size')
plt.ylabel('quantity')
save_plot('quantity_by_pizza_size.png')
plt.close()

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\quantity_by_pizza_size.png

# WeekDay Revenue

In [30]:
df['weekday']=df['date'].dt.day_name()
revenue_by_weekday = df.groupby("weekday")["revenue"].sum().sort_values(ascending=True)
sns.barplot(x=revenue_by_weekday.index,y=revenue_by_weekday.values)
plt.title('Revenue by weekday')
save_plot('revenue_by_week.png')
plt.close()

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\revenue_by_week.png

# Orders By Hour

In [31]:
orders_by_hour = df.groupby("hour")["order_id"].nunique()
sns.barplot(x=orders_by_hour.index,y=orders_by_hour.values)
plt.title('Order By hour')
plt.ylabel('Number of Order')
save_plot('orders_by_hour.png')
plt.close()

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\orders_by_hour.png

# revenue by time of day

In [32]:
def get_time_of_day(hour):
    if 5 <= hour < 12:
        return "Morning"      # 5 AM - 11 AM
    elif 12 <= hour < 17:
        return "Afternoon"    # 12 PM - 4 PM
    elif 17 <= hour < 21:
        return "Evening"      # 5 PM - 8 PM
    else:
        return "Night"        # 9 PM - 4 AM

# Apply function
df["time_of_day"] = df["hour"].apply(get_time_of_day)

# Revenue by time of day
revenue_by_tod = df.groupby("time_of_day")["revenue"].sum().sort_values(ascending=False)

In [33]:
sns.barplot(x=revenue_by_tod.index,y=revenue_by_tod.values)
plt.title('revenue by time of day')
plt.ylabel('Revenue')
save_plot('revenue_by_time_of_day.png')
plt.close()

Saved plot as C:\Users\Trilok singh\Desktop\Data_Science\pizaa_sales_project\visualizations\revenue_by_time_of_day.png