In [36]:
import pandas as pd

# Load CSVs (use encoding fix if needed)
pizzas = pd.read_csv("../data/pizzas.csv")
order_details = pd.read_csv("../data/order_details.csv")
orders = pd.read_csv("../data/orders.csv")
pizza_types = pd.read_csv("../data/pizza_types.csv", encoding="cp1252")

In [37]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [38]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [39]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [40]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [41]:

#Merging all table


# Merge: order_details + pizzas
df = order_details.merge(pizzas, on="pizza_id", how="left")

# Merge: add order timestamps
df = df.merge(orders, on="order_id", how="left")

# Merge: add pizza type info
df = df.merge(pizza_types, on="pizza_type_id", how="left")

df

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,date,time,name,category,ingredients
0,1,1,hawaiian_m,1,hawaiian,M,13.25,2015-01-01,11:38:36,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00,2015-01-01,11:57:40,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,five_cheese,L,18.50,2015-01-01,11:57:40,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,ital_supr,L,20.75,2015-01-01,11:57:40,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,mexicana,M,16.00,2015-01-01,11:57:40,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,ckn_alfredo,M,16.75,2015-12-31,21:23:10,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,48617,21348,four_cheese_l,1,four_cheese,L,17.95,2015-12-31,21:23:10,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,48618,21348,napolitana_s,1,napolitana,S,12.00,2015-12-31,21:23:10,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,48619,21349,mexicana_l,1,mexicana,L,20.25,2015-12-31,22:09:54,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,48620,21350,bbq_ckn_s,1,bbq_ckn,S,12.75,2015-12-31,23:02:05,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

ðŸ“Š Sales & Revenue

What was the total revenue generated in 2015?

Which pizza generated the highest revenue?

Which pizza category (Classic, Chicken, Veggie, Supreme) earned the most revenue?

What is the average order value (AOV) across all orders?

In [42]:
# Compute revenue
df["revenue"] = df["quantity"] * df["price"]
total_revenue=df['revenue'].sum()
# Revenue by category (e.g., Chicken, Classic, Veggie)
revenue_by_category=(
                  df.groupby('category')['revenue']
                  .sum()
                  .sort_values(ascending=False)
    
)
revenue_by_category

category
Classic    220053.10
Supreme    208197.00
Chicken    195919.50
Veggie     193690.45
Name: revenue, dtype: float64

In [43]:

#What was the total revenue generated in 2015?
df['date']=pd.to_datetime(df['date'])
total_revenue_2015=df[df['date'].dt.year == 2015]['revenue'].sum()
total_revenue_2015
df['name']

0                The Hawaiian Pizza
1          The Classic Deluxe Pizza
2             The Five Cheese Pizza
3         The Italian Supreme Pizza
4                The Mexicana Pizza
                    ...
48615     The Chicken Alfredo Pizza
48616         The Four Cheese Pizza
48617          The Napolitana Pizza
48618            The Mexicana Pizza
48619    The Barbecue Chicken Pizza
Name: name, Length: 48620, dtype: object

In [44]:
#Which pizza generated the highest revenue?
df[]

SyntaxError: invalid syntax (3271920353.py, line 2)

In [45]:
#Which pizza category (Classic, Chicken, Veggie, Supreme) earned the most revenue?
#.idxmax() â†’ returns the index label (here, the category) of the maximum value.
#.max() â†’ returns the value itself.
top_category=revenue_by_category.idxmax()
Revenue=revenue_by_category.max()
print("Top category:",top_category)
print("Revenue:",Revenue)

Top category: Classic
Revenue: 220053.1

In [46]:

#What is the average order value (AOV) across all orders?
#AOV=NumberÂ ofÂ OrdersTotal/Â RevenueÂ perÂ Orderâ€‹
revenue_per_order = df.groupby("order_id")["revenue"].sum()
aov=revenue_per_order.mean()
print("AOV:",aov)

AOV: 38.30726229508196

Which pizza was ordered the most times (by quantity)?

Which size (S, M, L, XL, XXL) sold the most units?

Which size contributed the most revenue?

What are the top 5 pizzas by total quantity sold?

In [47]:
# Which pizza was ordered the most times (by quantity)
pizza_sales=df.groupby('name')['quantity'].sum()
top_pizza_sales=pizza_sales.idxmax()
top_quantity = pizza_sales.max()

print("most order_pizza:",top_quantity)
print("Most ordered pizaa:",top_pizza_sales)
pizza_sales

most order_pizza: 2453
Most ordered pizaa: The Classic Deluxe Pizza

name
The Barbecue Chicken Pizza                    2432
The Big Meat Pizza                            1914
The Brie Carre Pizza                           490
The Calabrese Pizza                            937
The California Chicken Pizza                  2370
The Chicken Alfredo Pizza                      987
The Chicken Pesto Pizza                        973
The Classic Deluxe Pizza                      2453
The Five Cheese Pizza                         1409
The Four Cheese Pizza                         1902
The Greek Pizza                               1420
The Green Garden Pizza                         997
The Hawaiian Pizza                            2422
The Italian Capocollo Pizza                   1438
The Italian Supreme Pizza                     1884
The Italian Vegetables Pizza                   981
The Mediterranean Pizza                        934
The Mexicana Pizza                            1484
The Napolitana Pizza                          1464
The Pepper Salami Pizza                       1446
The Pepperoni Pizza                           2418
The Pepperoni, Mushroom, and Peppers Pizza    1359
The Prosciutto and Arugula Pizza              1457
The Sicilian Pizza                            1938
The Soppressata Pizza                          961
The Southwest Chicken Pizza                   1917
The Spicy Italian Pizza                       1924
The Spinach Pesto Pizza                        970
The Spinach Supreme Pizza                      950
The Spinach and Feta Pizza                    1446
The Thai Chicken Pizza                        2371
The Vegetables + Vegetables Pizza             1526
Name: quantity, dtype: int64

In [48]:
#Which size (S, M, L, XL, XXL) sold the most units?
pizza_size=df.groupby('size')['quantity'].sum()

top_sale_pizza_size=pizza_size.idxmax()
print("Most sale pizza size:",top_sale_pizza_size)

Most sale pizza size: L

In [49]:
#Which size contributed the most revenue?
revenue_contribution_based_on_size=df.groupby('size')['revenue'].sum()
cont=revenue_contribution_based_on_size.idxmax();
print(revenue_contribution_based_on_size)
print("Most contribution on pizza sales by pizza size:",cont)

size
L      375318.70
M      249382.25
S      178076.50
XL      14076.00
XXL      1006.60
Name: revenue, dtype: float64
Most contribution on pizza sales by pizza size: L

In [50]:
#What are the top 5 pizzas by total quantity sold?
pizza_sales=df.groupby('name')['quantity'].sum()
top_5=pizza_sales.sort_values(ascending=False).head()
top_5

name
The Classic Deluxe Pizza      2453
The Barbecue Chicken Pizza    2432
The Hawaiian Pizza            2422
The Pepperoni Pizza           2418
The Thai Chicken Pizza        2371
Name: quantity, dtype: int64

In [51]:
df["date"] = pd.to_datetime(df["date"])
df["month"] = df["date"].dt.month
df['day']=df['date'].dt.day

monthly_revenue=df.groupby('month')['revenue'].sum()
max_month_revenue=monthly_revenue.max()
month=monthly_revenue.idxmax()

print("monthly_revenue:",monthly_revenue)
print('Month in which most revenue has:',month)

monthly_revenue: month
1     69793.30
2     65159.60
3     70397.10
4     68736.80
5     71402.75
6     68230.20
7     72557.90
8     68278.25
9     64180.05
10    64027.60
11    70395.35
12    64701.15
Name: revenue, dtype: float64
Month in which most revenue has: 7

In [52]:
df['weekday']=df['date'].dt.day_name()
revenue_by_weekday = df.groupby("weekday")["revenue"].sum().sort_values(ascending=False)

# Best day
best_day = revenue_by_weekday.idxmax()
best_revenue = revenue_by_weekday.max()

print("Revenue by weekday:\n", revenue_by_weekday)
print("Best day:", best_day, "with revenue:", best_revenue)

Revenue by weekday:
 weekday
Friday       136073.90
Thursday     123528.50
Saturday     123182.40
Wednesday    114408.40
Tuesday      114133.80
Monday       107329.55
Sunday        99203.50
Name: revenue, dtype: float64
Best day: Friday with revenue: 136073.9

In [55]:
#What are the peak order hours of the 
df["time"] = pd.to_datetime(df["time"], format="%H:%M:%S")

df["hour"] = df["time"].dt.hour
orders_by_hour = df.groupby("hour")["order_id"].nunique()
pizzas_by_hour = df.groupby("hour")["order_id"].count()
revenue_per_hour=df.groupby('hour')['revenue'].sum()
busiest_hour=revenue_per_hour.idxmax()
busiest_revenue=revenue_per_hour.max()
print("Unique orders per hour:\n", orders_by_hour)
print("Total pizzas sold per hour:\n", pizzas_by_hour)
print("Revenue by hour:\n", revenue_per_hour)
print("Busiest hour:", busiest_hour, "with revenue:", busiest_revenue)

Unique orders per hour:
 hour
9        1
10       8
11    1231
12    2520
13    2455
14    1472
15    1468
16    1920
17    2336
18    2399
19    2009
20    1642
21    1198
22     663
23      28
Name: order_id, dtype: int64
Total pizzas sold per hour:
 hour
9        4
10      17
11    2672
12    6543
13    6203
14    3521
15    3170
16    4185
17    5143
18    5359
19    4350
20    3487
21    2528
22    1370
23      68
Name: order_id, dtype: int64
Revenue by hour:
 hour
9         83.00
10       303.65
11     44935.80
12    111877.90
13    106065.70
14     59201.40
15     52992.30
16     70055.40
17     86237.45
18     89296.85
19     72628.90
20     58215.40
21     42029.80
22     22815.15
23      1121.35
Name: revenue, dtype: float64
Busiest hour: 12 with revenue: 111877.9

In [56]:
def get_time_of_day(hour):
    if 5 <= hour < 12:
        return "Morning"      # 5 AM - 11 AM
    elif 12 <= hour < 17:
        return "Afternoon"    # 12 PM - 4 PM
    elif 17 <= hour < 21:
        return "Evening"      # 5 PM - 8 PM
    else:
        return "Night"        # 9 PM - 4 AM

# Apply function
df["time_of_day"] = df["hour"].apply(get_time_of_day)

# Revenue by time of day
revenue_by_tod = df.groupby("time_of_day")["revenue"].sum().sort_values(ascending=False)
print(revenue_by_tod)

time_of_day
Afternoon    400192.70
Evening      306378.60
Night         65966.30
Morning       45322.45
Name: revenue, dtype: float64