In [22]:
import pandas as pd

# Load CSVs (use encoding fix if needed)
pizzas = pd.read_csv("../data/pizzas.csv")
order_details = pd.read_csv("../data/order_details.csv")
orders = pd.read_csv("../data/orders.csv")
pizza_types = pd.read_csv("../data/pizza_types.csv", encoding="cp1252")

In [23]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [24]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [26]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [27]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [29]:

#Merging all table


# Merge: order_details + pizzas
df = order_details.merge(pizzas, on="pizza_id", how="left")

# Merge: add order timestamps
df = df.merge(orders, on="order_id", how="left")

# Merge: add pizza type info
df = df.merge(pizza_types, on="pizza_type_id", how="left")

df.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,date,time,name,category,ingredients
0,1,1,hawaiian_m,1,hawaiian,M,13.25,2015-01-01,11:38:36,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00,2015-01-01,11:57:40,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,five_cheese,L,18.50,2015-01-01,11:57:40,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,ital_supr,L,20.75,2015-01-01,11:57:40,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,mexicana,M,16.00,2015-01-01,11:57:40,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."

📊 Sales & Revenue

What was the total revenue generated in 2015?

Which pizza generated the highest revenue?

Which pizza category (Classic, Chicken, Veggie, Supreme) earned the most revenue?

What is the average order value (AOV) across all orders?

In [71]:
# Compute revenue
df["revenue"] = df["quantity"] * df["price"]
total_revenue=df['revenue'].sum()
# Revenue by category (e.g., Chicken, Classic, Veggie)
revenue_by_category=(
                  df.groupby('category')['revenue']
                  .sum()
                  .sort_values(ascending=False)
    
)
revenue_by_category

category
Classic    220053.10
Supreme    208197.00
Chicken    195919.50
Veggie     193690.45
Name: revenue, dtype: float64

In [66]:

#What was the total revenue generated in 2015?
df['date']=pd.to_datetime(df['date'])
total_revenue_2015=df[df['date'].dt.year == 2015]['revenue'].sum()
total_revenue_2015
df['name']

0                The Hawaiian Pizza
1          The Classic Deluxe Pizza
2             The Five Cheese Pizza
3         The Italian Supreme Pizza
4                The Mexicana Pizza
                    ...
48615     The Chicken Alfredo Pizza
48616         The Four Cheese Pizza
48617          The Napolitana Pizza
48618            The Mexicana Pizza
48619    The Barbecue Chicken Pizza
Name: name, Length: 48620, dtype: object

In [68]:
#Which pizza generated the highest revenue?
df[]

False

In [74]:
#Which pizza category (Classic, Chicken, Veggie, Supreme) earned the most revenue?
#.idxmax() → returns the index label (here, the category) of the maximum value.
#.max() → returns the value itself.
top_category=revenue_by_category.idxmax()
Revenue=revenue_by_category.max()
print("Top category:",top_category)
print("Revenue:",Revenue)

Top category: Classic
Revenue: 220053.1

In [77]:

#What is the average order value (AOV) across all orders?
#AOV=Number of OrdersTotal/ Revenue per Order​
revenue_per_order = df.groupby("order_id")["revenue"].sum()
aov=revenue_per_order.mean()
print("AOV:",aov)

AOV: 38.30726229508196

Which pizza was ordered the most times (by quantity)?

Which size (S, M, L, XL, XXL) sold the most units?

Which size contributed the most revenue?

What are the top 5 pizzas by total quantity sold?

In [92]:
# Which pizza was ordered the most times (by quantity)
pizza_sales=df.groupby('name')['quantity'].sum()
top_pizza_sales=pizza_sales.idxmax()
top_quantity = pizza_sales.max()

print("most order_pizza:",top_quantity)
print("Most ordered pizaa:",top_pizza_sales)

most order_pizza: 2453
Most ordered pizaa: The Classic Deluxe Pizza

In [93]:
pizza_size=df.groupby('size')['quantity'].sum()
print(pizza_size)

size
L      18956
M      15635
S      14403
XL       552
XXL       28
Name: quantity, dtype: int64